*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  top: 5%;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 1510px) {
    html {
      font-size: 56.25%;
      /* 9px / 16rem */ } }
  @media only screen and (max-width: 1105px) {
    html {
      font-size: 50%;
      /* 8px / 16rem */ } }

p {
  line-height: 1.5; }

/* Variables */
/* Space */
/* Responsive */
*::selection {
  background: #db1e21;
  color: #c7ced5; }

*::-webkit-scrollbar {
  background: #656971;
  width: 1.4rem; }

*::-webkit-scrollbar-thumb {
  background: #db1e21;
  height: 12rem;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  *::-webkit-scrollbar-thumb:hover {
    background: #703846; }

/* Section page */
body {
  font-family: sans-serif;
  padding: 4.8rem;
  background: #dee2e4;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  /*Responsive*/
  /* Responsive */ }
  @media onlyscreen and (max-width: 82em) {
    body {
      padding: 1.6rem; } }
  @media only screen and (max-width: 72em) {
    body {
      padding: 0; } }

.page {
  background: #f9faff;
  display: grid;
  grid-template-columns: 0.45fr 2fr 0.2fr;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  overflow: hidden;
  top: 5%;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 85em) {
    .page {
      grid-template-columns: 0.45fr 2fr; } }
  @media only screen and (max-width: 74em) {
    .page {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 72em) {
    .page {
      overflow: hidden;
      padding: 0 2.4rem;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; } }

/* Main section */
main {
  grid-column: 2 / 3;
  margin: 0 auto;
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    main {
      margin: 0 auto;
      display: block; } }

.header__main {
  position: relative;
  display: block;
  margin: 0 auto; }

.header__video {
  display: inline-block;
  width: 100rem;
  height: 100%;
  margin: 0 auto;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  overflow: hidden;
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .header__video {
      width: 120rem; } }
  @media only screen and (max-width: 72em) {
    .header__video {
      width: 100%;
      display: inline-block;
      display: flex;
      justify-content: center; } }

.header__description__friends {
  position: absolute;
  top: 4%;
  padding: 2.4rem 0 0 3.4rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 42em) {
    .header__description__friends {
      padding-left: 2.4rem; } }
  @media only screen and (max-width: 30em) {
    .header__description__friends {
      padding-top: 1.2rem;
      gap: 1rem;
      align-items: start;
      padding-left: 1.4rem; } }

.friends {
  display: flex; }

.friend-img {
  width: 3.4rem;
  height: 3.4rem;
  /* Responsive */ }
  .friend-img:not(:first-of-type) {
    margin-left: -1rem;
    /* Responsive */ }
    @media only screen and (max-width: 30em) {
      .friend-img:not(:first-of-type) {
        margin-left: 0.2rem; } }
  @media only screen and (max-width: 30em) {
    .friend-img {
      width: 1.8rem;
      height: 1.8rem; } }

.img-friend {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #fff; }

.header__description {
  position: absolute;
  bottom: 4%;
  padding: 0 0 2.4rem 3.4rem;
  color: #c7ced5;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 42em) {
    .header__description {
      padding-left: 2.4rem; } }
  @media only screen and (max-width: 30em) {
    .header__description {
      padding-bottom: 1.2rem;
      padding-left: 1.4rem; } }
  .header__description:hover {
    background: rgba(0, 0, 0, 0.35);
    /* Responsive */ }
    @media only screen and (max-width: 42em) {
      .header__description:hover {
        background: none; } }
  .header__description-tittle {
    font-weight: 800;
    font-size: 3.6rem;
    /* Responsive */ }
    @media only screen and (max-width: 42em) {
      .header__description-tittle {
        font-size: 2.8rem; } }
  .header__description-p {
    display: inline-block;
    width: 70%;
    font-size: 1.8rem;
    margin-top: 0.8rem;
    /* Responsive */
    /* Responsive */
    /* Responsive */ }
    @media only screen and (max-width: 61em) {
      .header__description-p {
        width: 90%; } }
    @media only screen and (max-width: 51em) {
      .header__description-p {
        width: 95%; } }
    @media only screen and (max-width: 46em) {
      .header__description-p {
        width: 100%;
        display: none; } }

.header__description-btns {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  /* Responsive */ }
  @media only screen and (max-width: 42em) {
    .header__description-btns {
      margin-top: 0.4em; } }

/* Header community */
.header__comunity {
  padding-top: 2.4rem;
  color: #717780; }
  .header__comunity-tittle {
    font-size: 3rem;
    font-weight: 800;
    color: #656971; }

.header__comunity-cards {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .header__comunity-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 42em) {
    .header__comunity-cards {
      grid-template-columns: 1fr; } }

.header__comunity-card {
  display: inline-block;
  width: calc(100% / 4);
  padding: 2.4rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  /* Responsive */
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .header__comunity-card {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      gap: 1.6rem; } }
  @media only screen and (max-width: 69em) {
    .header__comunity-card {
      width: 95%; } }
  @media only screen and (max-width: 42em) {
    .header__comunity-card {
      width: 100%; } }
  .header__comunity-card:hover {
    background: #dee2e4; }
  .header__comunity-card:hover .header__span {
    color: #fff; }

.header__comunity-card-imgs {
  display: flex;
  align-items: start;
  justify-content: space-between; }

.header__comunity-card-img {
  width: 7.4rem;
  height: 7.4rem;
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .header__comunity-card-img {
      width: 12rem;
      height: 12rem; } }

.header__comunity-friends {
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .header__comunity-friends {
      display: none; } }

.img-card {
  object-fit: cover;
  object-position: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

.img-friend {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border: 1px solid #fff;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .img-friend {
      width: 4rem;
      height: 4rem;
      border: none;
      border: 1px solid #fff; } }
  @media only screen and (max-width: 42em) {
    .img-friend {
      width: 3rem;
      height: 3rem; } }
  .img-friend:not(:first-of-type) {
    margin-left: -1rem; }

.img-friend-list {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem; }

.header__comunity-info {
  margin-top: 1.6rem; }
  .header__comunity-info-p {
    font-size: 1.6rem;
    font-weight: 600;
    /* Responsive */ }
    @media only screen and (max-width: 72em) {
      .header__comunity-info-p {
        font-size: 2.4rem; } }

.header__span {
  font-size: 1.3rem;
  color: #c7ced5;
  font-weight: 800;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .header__span {
      font-size: 1.8rem; } }

/* Header watching */
.header__watching {
  padding-top: 2.4rem;
  color: #717780; }

.header__watching-tittle {
  font-size: 3rem;
  color: #656971;
  font-weight: 800; }

.cards__watching {
  margin-top: 2.4rem;
  display: flex;
  gap: 2.4rem;
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .cards__watching {
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 69em) {
    .cards__watching {
      grid-template-columns: 1fr;
      grid-auto-rows: 30vh;
      gap: 3.2rem; } }
  @media only screen and (max-width: 46em) {
    .cards__watching {
      grid-auto-rows: 25vh; } }
  @media only screen and (max-width: 30em) {
    .cards__watching {
      grid-auto-rows: 20vh; } }

.card__watch {
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow: hidden;
  width: calc(100% / 4);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .card__watch {
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      align-items: center;
      justify-content: start; } }
  .card__watch:hover .watch-img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }

.card__watch-img {
  width: 100%;
  height: 16rem;
  position: relative;
  overflow: hidden;
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .card__watch-img {
      height: 100%;
      width: 100%; } }
  .card__watch-img .watch-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }

.card__watch-img::before {
  top: 2%;
  left: -10%;
  text-align: center;
  content: "movie";
  position: absolute;
  background: #f9faff;
  z-index: 3;
  padding: 0.4rem 2.4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #db1e21;
  transform: rotate(320deg);
  -webkit-transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .card__watch-img::before {
      left: -19%;
      top: 2%;
      padding: 0.4rem 4rem; } }
  @media only screen and (max-width: 69em) {
    .card__watch-img::before {
      top: 2%;
      left: -9%; } }
  @media only screen and (max-width: 61em) {
    .card__watch-img::before {
      left: -12%; } }
  @media only screen and (max-width: 46em) {
    .card__watch-img::before {
      left: -13%;
      top: 4%; } }
  @media only screen and (max-width: 42em) {
    .card__watch-img::before {
      left: -14%;
      top: 4%; } }
  @media only screen and (max-width: 36em) {
    .card__watch-img::before {
      left: -18%;
      top: 3%; } }
  @media only screen and (max-width: 30em) {
    .card__watch-img::before {
      top: 5%;
      left: -20%; } }

.card__watch-img.first::before {
  content: "serie"; }

.card__watch__info {
  padding: 1.2rem 1.2rem 1.6rem;
  color: #c7ced5;
  font-weight: 800;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .card__watch__info {
      padding: 3rem 2rem; } }
  @media only screen and (max-width: 36em) {
    .card__watch__info {
      padding-right: 1.4rem; } }

.card__watch-tittle {
  font-size: 1.8rem;
  color: #717780;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .card__watch-tittle {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 36em) {
    .card__watch-tittle {
      font-size: 2.3rem; } }

.card__watch-p {
  font-size: 1.4rem;
  /* Responsive */ }
  @media only screen and (max-width: 72em) {
    .card__watch-p {
      font-size: 1.6rem; } }

/* Variablaes buttons */
/* Main buttons */
.btn-friends {
  display: inline-block;
  border: none;
  padding: .8rem 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  background: rgba(233, 237, 246, 0.8);
  color: #db1e21;
  font-weight: 400;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
  cursor: auto;
  text-transform: uppercase; }

.main-btn:link,
.main-btn:visited {
  display: inline-block;
  background: rgba(219, 30, 33, 0.5);
  color: #f9faff;
  text-decoration: none;
  padding: 1.2rem 2.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .main-btn:link:hover, .main-btn:link:visited,
  .main-btn:visited:hover,
  .main-btn:visited:visited {
    background: #db1e21;
    box-shadow: 0 0.1rem 2rem #db1e21; }

.main-btn-add:link,
.main-btn-add:visited {
  display: inline-block;
  text-decoration: none;
  background: rgba(101, 105, 113, 0.5);
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #f9faff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .main-btn-add:link:hover, .main-btn-add:link:visited,
  .main-btn-add:visited:hover,
  .main-btn-add:visited:visited {
    background: #656971;
    box-shadow: 0 0.1rem 2rem #656971; }

/* Variables */
/* Space */
/* Responsive */
/* Section footer */
.footer {
  margin-top: 2.4rem;
  grid-column: 1 / -1;
  display: block;
  background: #656971;
  padding: 1.6rem;
  color: #f9faff;
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .footer {
      order: 3; } }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    .footer__link:link:hover, .footer__link:visited:hover {
      transform: translateY(-0.4rem);
      -webkit-transform: translateY(-0.4rem);
      -moz-transform: translateY(-0.4rem);
      -ms-transform: translateY(-0.4rem);
      -o-transform: translateY(-0.4rem);
      color: #db1e21; }
    .footer__link:link:active, .footer__link:visited:active {
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0); }

/* Variables */
/* Space */
/* Responsive */
/* Header form */
.form__header {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  align-items: center;
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .form__header {
      grid-template-columns: 1fr;
      padding: 1.6rem 0 0.8rem;
      border-bottom: 1px solid #dee2e4;
      margin-bottom: 1rem; } }

.header__form {
  display: block;
  position: relative;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .header__form {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 79em) {
    .header__form {
      justify-content: start; } }

.header__search {
  border: none;
  outline: none;
  display: inline-block;
  width: 70%;
  font-family: sans-serif;
  padding: 0.8rem 1rem;
  padding-left: 1.6rem;
  color: #717780;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  background: #e9edf6;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .header__search {
      width: 90%; } }
  @media only screen and (max-width: 79em) {
    .header__search {
      width: 80%; } }
  .header__search:focus {
    color: #656971; }
  .header__search::placeholder {
    color: red;
    font-weight: 400; }

.header__search:focus {
  width: 75%;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .header__search:focus {
      width: 100%; } }
  @media only screen and (max-width: 79em) {
    .header__search:focus {
      width: 85%; } }

.header__search:focus ~ label .form__icon {
  left: 71.5%;
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .header__search:focus ~ label .form__icon {
      left: 97%; } }
  @media only screen and (max-width: 79em) {
    .header__search:focus ~ label .form__icon {
      left: 82%; } }
  @media only screen and (max-width: 69em) {
    .header__search:focus ~ label .form__icon {
      left: 82.7%; } }
  @media only screen and (max-width: 61em) {
    .header__search:focus ~ label .form__icon {
      left: 82%; } }
  @media only screen and (max-width: 46em) {
    .header__search:focus ~ label .form__icon {
      left: 81.7%; } }
  @media only screen and (max-width: 42em) {
    .header__search:focus ~ label .form__icon {
      left: 81.3%; } }
  @media only screen and (max-width: 36em) {
    .header__search:focus ~ label .form__icon {
      left: 80.8%; } }
  @media only screen and (max-width: 30em) {
    .header__search:focus ~ label .form__icon {
      left: 80%; } }

.form__icon {
  position: absolute;
  left: 66.5%;
  top: 50%;
  font-size: 2rem;
  color: #db1e21;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .form__icon {
      left: 92%; } }
  @media only screen and (max-width: 79em) {
    .form__icon {
      left: 77%; } }
  @media only screen and (max-width: 69em) {
    .form__icon {
      left: 78%; } }
  @media only screen and (max-width: 61em) {
    .form__icon {
      left: 77%; } }
  @media only screen and (max-width: 46em) {
    .form__icon {
      left: 76.5%; } }
  @media only screen and (max-width: 42em) {
    .form__icon {
      left: 76%; } }
  @media only screen and (max-width: 36em) {
    .form__icon {
      left: 75.7%; } }
  @media only screen and (max-width: 30em) {
    .form__icon {
      left: 75%; } }
  .form__icon:active {
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem); }

.header__user {
  display: flex;
  align-items: center;
  justify-content: stretch;
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .header__user {
      margin-top: 1.6rem; }
      .header__user > div {
        flex: 0.5 0 auto; } }

.header__icon {
  align-self: stretch;
  background: #dee2e4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  /* Responsive */ }
  @media only screen and (max-width: 82em) {
    .header__icon {
      background: #dee2e4; } }
  .header__icon:not(:last-of-type) {
    border-right: 2px solid #f9faff; }
  .header__icon:hover {
    background: #717780; }

.header__icon:hover .icon-user {
  color: #f9faff; }

.icon-user {
  font-size: 2.4rem;
  color: #656971;
  display: inline-block;
  position: relative;
  padding: 1.4rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  animation: icon alternate infinite 0.8s forwards;
  -webkit-animation: icon alternate infinite 0.8s forwards; }
  .icon-user::before {
    content: "";
    position: absolute;
    background: red;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 20%;
    left: 50%;
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%); }

@keyframes icon {
  from {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }

.user__info {
  padding: 1.4rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .user__info:hover {
    background: #e9edf6; }

.user__img {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem; }
  .user__img .usuario-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }

/* Variables */
/* Responsive */
.section__users {
  grid-column: 3 / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-left: 2px solid #dee2e4; }
  .section__users-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.2rem;
    position: relative; }

.users-toggle {
  display: none; }

.section__item {
  list-style: none; }

.section__link {
  display: inline-block;
  text-decoration: none;
  position: relative; }

.section__user {
  position: relative;
  z-index: 3;
  display: inline-block;
  width: 6.4rem;
  height: 6.4rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .section__user:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }
  .section__user .user-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
    object-position: top;
    position: relative; }

.section__user:hover .user__name {
  opacity: 1;
  overflow: visible;
  left: 0;
  transform: translate(-110%, -50%);
  -webkit-transform: translate(-110%, -50%);
  -moz-transform: translate(-110%, -50%);
  -ms-transform: translate(-110%, -50%);
  -o-transform: translate(-110%, -50%); }

.user__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #dee2e4;
  color: #717780;
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  font-weight: 800; }

.section__user.plus {
  background: #db1e21;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  color: #f9faff;
  font-weight: 400;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

/* Rarr */
.rarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: -60%;
  top: 50%;
  clip-path: circle(51% at 100% 51%);
  background: red;
  background: #dee2e4;
  width: 8rem;
  height: 8rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .rarr:hover {
    background: #c7ced5; }

.rarr__icon {
  font-size: 4rem;
  position: relative;
  left: 50%;
  color: #db1e21; }

/* Responsive toggle */
@media only screen and (max-width: 85em) {
  .section__users {
    border: none;
    display: inline-block;
    grid-column: unset; } }

@media only screen and (max-width: 85em) {
  .section__user-label {
    position: fixed;
    right: 4%;
    top: 7%;
    width: 5.2rem;
    height: 5.2rem;
    background: #db1e21;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Responsive */
    /* Responsive */
    /* Responsive */
    /* Responsive */
    /* Responsive */
    /* Responsive */ } }
  @media only screen and (max-width: 85em) and (max-width: 82em) {
    .section__user-label {
      top: 3.3%;
      right: 1.8%; } }
  @media only screen and (max-width: 85em) and (max-width: 79em) {
    .section__user-label {
      top: 3.5%;
      right: 1.6%; } }
  @media only screen and (max-width: 85em) and (max-width: 77em) {
    .section__user-label {
      top: 3.2%;
      right: 1.8%; } }
  @media only screen and (max-width: 85em) and (max-width: 74em) {
    .section__user-label {
      top: 3%;
      right: 2%; } }
  @media only screen and (max-width: 85em) and (max-width: 72em) {
    .section__user-label {
      top: 2%;
      right: 1%; } }
  @media only screen and (max-width: 85em) and (max-width: 69em) {
    .section__user-label {
      top: 1%;
      right: 1.2%; } }

@media only screen and (max-width: 85em) {
    .section__user-label::before, .section__user-label::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 0.2rem;
      background: #f9faff;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 40%);
      -webkit-transform: translate(-50%, 40%);
      -moz-transform: translate(-50%, 40%);
      -ms-transform: translate(-50%, 40%);
      -o-transform: translate(-50%, 40%);
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; }
    .section__user-label::after {
      top: 30%;
      height: 0.21rem; }
    .section__user-label::before {
      top: 60%; }
    .section__user-label span {
      position: absolute;
      display: inline-block;
      width: 50%;
      height: 0.2rem;
      background: #f9faff;
      left: 50%;
      top: 45%;
      transform: translate(-50%, 45%);
      -webkit-transform: translate(-50%, 45%);
      -moz-transform: translate(-50%, 45%);
      -ms-transform: translate(-50%, 45%);
      -o-transform: translate(-50%, 45%); }
    .section__user-label span::before {
      top: 20%; }
    .section__user-label:hover span {
      display: none; } }

@media only screen and (max-width: 85em) {
  .section__user-label:hover::before {
    height: 0.21rem;
    top: 60%;
    left: 45%;
    transform: rotate(220deg) translate(50%, -60%);
    -webkit-transform: rotate(220deg) translate(50%, -60%);
    -moz-transform: rotate(220deg) translate(50%, -60%);
    -ms-transform: rotate(220deg) translate(50%, -60%);
    -o-transform: rotate(220deg) translate(50%, -60%); } }

@media only screen and (max-width: 85em) {
  .section__user-label:hover::after {
    top: 45%;
    left: 25%;
    transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    -o-transform: rotate(320deg); } }

@media only screen and (max-width: 85em) {
  .users-toggle:checked ~ .section__user-label .section__users-list {
    opacity: 1;
    overflow: visible;
    position: fixed;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    -o-transform: scale(1) translateY(0);
    transition-delay: 0.2s; } }

.users-toggle:checked ~ .section__user-label span {
  display: none; }

@media only screen and (max-width: 85em) {
  .users-toggle:checked ~ .section__user-label::before {
    top: 60%;
    left: 45%;
    transform: rotate(220deg) translate(50%, -60%);
    -webkit-transform: rotate(220deg) translate(50%, -60%);
    -moz-transform: rotate(220deg) translate(50%, -60%);
    -ms-transform: rotate(220deg) translate(50%, -60%);
    -o-transform: rotate(220deg) translate(50%, -60%); } }

@media only screen and (max-width: 85em) {
  .users-toggle:checked ~ .section__user-label::after {
    top: 45%;
    left: 25%;
    transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    -o-transform: rotate(320deg); } }

@media only screen and (max-width: 85em) {
  .section__users-list {
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    justify-content: unset;
    align-items: center;
    margin-top: 7rem;
    -webkit-transform: scale(0) translateY(20%);
    -moz-transform: scale(0) translateY(-120%);
    -ms-transform: scale(0) translateY(-120%);
    -o-transform: scale(0) translateY(-120%);
    transform-origin: top; } }

@media only screen and (max-width: 85em) {
  .section__user {
    width: 5.2rem;
    height: 5.2rem; } }

@media only screen and (max-width: 85em) {
  .section__item {
    display: inline-block; } }

@media only screen and (max-width: 85em) {
  .rarr {
    display: none; } }

/* Variables */
/* Responsive */
li {
  list-style: none; }

.section__nav {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: relative;
  border-right: 2px solid #dee2e4;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .section__nav {
      flex-direction: row;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;
      order: 2;
      border: none;
      border-top: 1px solid #dee2e4;
      margin-top: 3rem; } }
  @media only screen and (max-width: 72em) {
    .section__nav {
      margin-top: 3.2rem;
      border-top: 1px solid #dee2e4; } }
  @media only screen and (max-width: 46em) {
    .section__nav {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center; } }

.section__nav {
  padding: 3.2rem;
  color: #859db3;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 79em) {
    .section__nav {
      padding: 2.4rem; } }
  @media only screen and (max-width: 74em) {
    .section__nav {
      padding: 1rem 3.6rem 0; } }
  @media only screen and (max-width: 72em) {
    .section__nav {
      padding-top: 1.6rem; } }

.section__tittle {
  display: flex;
  align-items: center;
  position: relative;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .section__tittle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%); } }
  @media only screen and (max-width: 46em) {
    .section__tittle {
      padding-top: 0.8rem; } }

.section__nav-tittle {
  font-weight: 800;
  color: #656971;
  font-size: 2.4rem;
  display: inline-block;
  width: max-content;
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .section__nav-tittle {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; } }

.dots {
  position: absolute;
  top: 50%;
  left: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding-left: 0.6rem; }

.dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: dot 0.2s infinite alternate forwards;
  -webkit-animation: dot 0.2s infinite alternate forwards; }

.dot.dot-1 {
  animation-duration: 0.8s; }

.dot.dot-2 {
  animation-duration: 1s; }

.dot.dot-3 {
  animation-duration: 1.8s; }

@keyframes dot {
  from {
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
    -moz-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
    -o-transform: translateY(0.5rem); }
  to {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    box-shadow: 0 0.6rem 0.8rem #db1e21; } }

.section__tittle-wacth {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  color: #656971;
  font-weight: 800;
  display: block;
  width: 100%;
  /* Responsive */
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .section__tittle-wacth {
      text-align: center; } }
  @media only screen and (max-width: 36em) {
    .section__tittle-wacth {
      margin-bottom: 1.8rem; } }

/* Section Watch */
.section__watch {
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .section__watch {
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }
  .section__watch:first-of-type {
    margin-top: 2.4rem;
    /* Responsive */
    /* Responsive */ }
    @media only screen and (max-width: 74em) {
      .section__watch:first-of-type {
        margin-top: 5.8rem; } }
    @media only screen and (max-width: 46em) {
      .section__watch:first-of-type {
        margin-top: 3.8rem; } }
  .section__watch {
    margin-top: 3.8rem;
    /* Responsive */
    /* Responsive */ }
    @media only screen and (max-width: 74em) {
      .section__watch {
        margin-top: 5.8rem; } }
    @media only screen and (max-width: 46em) {
      .section__watch {
        margin-top: 3.8rem; } }

.section__watch-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .section__watch-item:not(:last-of-type) {
    margin-bottom: 2.8rem;
    /* Responsive */ }
    @media only screen and (max-width: 46em) {
      .section__watch-item:not(:last-of-type) {
        margin-bottom: 2.4rem; } }
  .section__watch-item:hover {
    color: #db1e21; }
  .section__watch-item::before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 100%;
    background: transparent;
    left: -30%;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    /* Responsive */ }
    @media only screen and (max-width: 79em) {
      .section__watch-item::before {
        left: -21.5%;
        transform: translate(21.5%);
        -webkit-transform: translate(21.5%);
        -moz-transform: translate(21.5%);
        -ms-transform: translate(21.5%);
        -o-transform: translate(21.5%); } }
  .section__watch-item:hover::before {
    background: #db1e21;
    /* Responsive */ }
    @media only screen and (max-width: 74em) {
      .section__watch-item:hover::before {
        display: none; } }

.section__watch-item.active {
  color: #db1e21; }
  .section__watch-item.active::before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 100%;
    background: #db1e21;
    left: -30%;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
    /* Responsive */
    /* Responsive */ }
    @media only screen and (max-width: 79em) {
      .section__watch-item.active::before {
        left: -21.5%;
        transform: translate(21.5%);
        -webkit-transform: translate(21.5%);
        -moz-transform: translate(21.5%);
        -ms-transform: translate(21.5%);
        -o-transform: translate(21.5%); } }
    @media only screen and (max-width: 74em) {
      .section__watch-item.active::before {
        display: none; } }

.icon__watch {
  font-size: 2.6rem;
  color: #db1e21; }

.section__watch-list:last-of-type {
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .section__watch-list:last-of-type {
      flex: 1 0 auto; } }

.section__watch-tittle {
  font-size: 1.8rem; }

/* Section friends */
.section__friends {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .section__friends:not(:last-of-type) {
    margin-bottom: 2.8rem;
    /* Responsive */ }
    @media only screen and (max-width: 46em) {
      .section__friends:not(:last-of-type) {
        margin-bottom: 2.4rem; } }
  .section__friends:hover {
    padding-left: 2rem;
    color: #db1e21; }

/* Account */
.section__account {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  position: relative;
  width: max-content;
  /* Responsive */ }
  @media only screen and (max-width: 74em) {
    .section__account {
      width: 100%;
      justify-content: center; } }
  .section__account::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.4rem;
    background: #db1e21;
    bottom: -30%;
    transform: translateY(30%) scale(0);
    -webkit-transform: translateY(30%) scale(0);
    -moz-transform: translateY(30%) scale(0);
    -ms-transform: translateY(30%) scale(0);
    -o-transform: translateY(30%) scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform-origin: left;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem; }
  .section__account:hover::before {
    transform: translateY(30%) scale(1);
    -webkit-transform: translateY(30%) scale(1);
    -moz-transform: translateY(30%) scale(1);
    -ms-transform: translateY(30%) scale(1);
    -o-transform: translateY(30%) scale(1); }
  .section__account:not(:last-of-type) {
    margin-bottom: 2.8rem;
    /* Responsive */ }
    @media only screen and (max-width: 46em) {
      .section__account:not(:last-of-type) {
        margin-bottom: 2.4rem; } }
  .section__account:hover {
    color: #db1e21; }

/* Download */
.card__download {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dee2e4;
  padding: 3.2rem;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  position: relative;
  /* Responsive */ }
  @media only screen and (max-width: 1510px) {
    .card__download {
      display: none; } }

.card__tittle {
  color: #656971;
  font-size: 2rem;
  font-weight: 800; }

.card__feature {
  font-size: 1.4rem;
  margin: 0.4rem 0 0; }

.card-btn:link,
.card-btn:visited {
  margin-top: 1.2rem;
  display: inline-block;
  text-decoration: none;
  background: #db1e21;
  padding: 1.2rem 2.8rem;
  color: #f9faff;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .card-btn:link:hover,
  .card-btn:visited:hover {
    background: #703846;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.3); }
  .card-btn:link:active,
  .card-btn:visited:active {
    transform: translateY(0.35rem);
    -webkit-transform: translateY(0.35rem);
    -moz-transform: translateY(0.35rem);
    -ms-transform: translateY(0.35rem);
    -o-transform: translateY(0.35rem); }

.download {
  position: absolute;
  background: #859db3;
  top: -15%;
  left: 50%;
  padding: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 15%);
  -webkit-transform: translate(-50%, 15%);
  -moz-transform: translate(-50%, 15%);
  -ms-transform: translate(-50%, 15%);
  -o-transform: translate(-50%, 15%); }

.icon-download {
  color: #f9faff;
  font-size: 2.6rem; }
