*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 10px / 16rem */ }

body {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  font-family: sans-serif; }

p {
  line-height: 1.5; }

/* Variables */
/* Space */
*::selection {
  background: #db1e21;
  color: #c7ced5; }

*::-webkit-scrollbar {
  background: #656971;
  width: 1.4rem; }

*::-webkit-scrollbar-thumb {
  background: #db1e21;
  height: 12rem;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  *::-webkit-scrollbar-thumb:hover {
    background: #703846; }

/* Section page */
body {
  padding: 4.8rem;
  background: #dee2e4; }

.page {
  background: #f9faff;
  display: grid;
  grid-template-columns: .45fr 2fr .2fr;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  overflow: hidden;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.5); }

/* Main section */
main {
  grid-column: 2 / 3;
  margin: 0 auto; }

.header__main {
  position: relative;
  display: block;
  margin: 0 auto; }

.header__video {
  display: inline-block;
  width: 100rem;
  height: 100%;
  margin: 0 auto;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  overflow: hidden; }

.header__description__friends {
  position: absolute;
  top: 4%;
  padding: 2.4rem 0 0 3.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem; }

.friends {
  display: flex; }

.friend-img {
  width: 3.4rem;
  height: 3.4rem; }
  .friend-img:not(:first-of-type) {
    margin-left: -1rem; }

.img-friend {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #fff; }

.header__description {
  position: absolute;
  bottom: 4%;
  padding: 0 0 2.4rem 3.4rem;
  color: #c7ced5;
  /*   box-shadow: inset 0 22rem 2rem rgba(0, 0, 0, 0.35);
  width: 120rem; */ }
  .header__description-tittle {
    font-weight: 800;
    font-size: 3.6rem; }
  .header__description-p {
    display: inline-block;
    width: 70%;
    font-size: 1.8rem;
    margin-top: 0.8rem; }

.header__description-btns {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem; }

/* Header community */
.header__comunity {
  padding-top: 2.4rem;
  color: #717780; }
  .header__comunity-tittle {
    font-size: 3rem;
    font-weight: 800;
    color: #656971; }

.header__comunity-cards {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.8rem;
  align-items: center; }

.header__comunity-card {
  display: inline-block;
  width: calc(100% / 4);
  padding: 2.4rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .header__comunity-card:hover {
    background: #dee2e4; }

.header__comunity-card-imgs {
  display: flex;
  align-items: start;
  justify-content: space-between; }

.header__comunity-card-img {
  width: 7.4rem;
  height: 7.4rem; }

.img-card {
  object-fit: cover;
  object-position: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

.img-friend {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border: 2px solid #fff; }
  .img-friend:not(:first-of-type) {
    margin-left: -1rem; }

.img-friend-list {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem; }

.header__comunity-info {
  margin-top: 1.6rem; }
  .header__comunity-info-p {
    font-size: 1.6rem;
    font-weight: 600; }

.header__span {
  font-size: 1.3rem;
  color: #c7ced5; }

/* Header watching */
.header__watching {
  padding-top: 2.4rem;
  color: #717780; }

.header__watching-tittle {
  font-size: 3rem;
  color: #656971;
  font-weight: 800; }

.cards__watching {
  margin-top: 2.4rem;
  display: flex;
  gap: 2.4rem; }

.card__watch {
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow: hidden;
  width: calc(100% / 4);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .card__watch:hover .watch-img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }

.card__watch-img {
  width: 100%;
  height: 16rem;
  position: relative;
  overflow: hidden; }
  .card__watch-img .watch-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }

.card__watch-img::before {
  top: 2%;
  left: -10%;
  text-align: center;
  content: "movie";
  position: absolute;
  background: #f9faff;
  z-index: 3;
  padding: 0.4rem 2.4rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #db1e21;
  transform: rotate(320deg);
  -webkit-transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  -o-transform: rotate(320deg); }

.card__watch-img.first::before {
  content: "serie"; }

.card__watch__info {
  padding: 1.2rem 1.2rem 1.6rem; }

.card__watch-tittle {
  font-weight: 800;
  font-size: 1.8rem; }

.card__watch-p {
  font-size: 1.4rem; }

/* Variablaes buttons */
/* Main buttons */
.btn-friends {
  display: inline-block;
  border: none;
  padding: .8rem 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  background: rgba(233, 237, 246, 0.8);
  color: #db1e21;
  font-weight: 400;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem; }

.main-btn:link,
.main-btn:visited {
  display: inline-block;
  background: rgba(219, 30, 33, 0.5);
  color: #f9faff;
  text-decoration: none;
  padding: 1.2rem 2.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .main-btn:link:hover, .main-btn:link:visited,
  .main-btn:visited:hover,
  .main-btn:visited:visited {
    background: #db1e21;
    box-shadow: 0 0.1rem 2rem #db1e21; }

.main-btn-add:link,
.main-btn-add:visited {
  display: inline-block;
  text-decoration: none;
  background: rgba(101, 105, 113, 0.5);
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #f9faff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .main-btn-add:link:hover, .main-btn-add:link:visited,
  .main-btn-add:visited:hover,
  .main-btn-add:visited:visited {
    background: #656971;
    box-shadow: 0 0.1rem 2rem #656971; }

/* Variables */
/* Space */
/* Section footer */
.footer {
  margin-top: 2.4rem;
  grid-column: 1 / -1;
  display: block;
  background: #656971;
  padding: 1.6rem;
  color: #f9faff;
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    .footer__link:link:hover, .footer__link:visited:hover {
      transform: translateY(-0.4rem);
      -webkit-transform: translateY(-0.4rem);
      -moz-transform: translateY(-0.4rem);
      -ms-transform: translateY(-0.4rem);
      -o-transform: translateY(-0.4rem);
      color: #db1e21; }
    .footer__link:link:active, .footer__link:visited:active {
      transform: translate(0);
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0); }

/* Variables */
/* Space */
/* Header form */
.form__header {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  align-items: center; }

.header__form {
  display: block;
  position: relative; }

.header__search {
  border: none;
  outline: none;
  display: inline-block;
  width: 70%;
  font-family: sans-serif;
  padding: 0.8rem 1rem;
  color: #717780;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  background: #e9edf6; }
  .header__search:focus {
    color: #656971; }
  .header__search::placeholder {
    color: red;
    font-weight: 400; }

.header__search:focus {
  width: 75%; }

.header__search:focus ~ label .form__icon {
  left: 71.5%; }

.form__icon {
  position: absolute;
  left: 66.5%;
  top: 50%;
  font-size: 2rem;
  color: #db1e21;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .form__icon:active {
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem); }

.header__user {
  display: flex;
  align-items: center;
  justify-content: stretch; }

.header__icon {
  align-self: stretch;
  background: #dee2e4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .header__icon:hover {
    background: #717780; }

.header__icon:hover .icon-user {
  color: #f9faff; }

.icon-user {
  font-size: 2.4rem;
  color: #656971;
  display: inline-block;
  position: relative;
  padding: 1.4rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  animation: icon alternate infinite 0.8s forwards;
  -webkit-animation: icon alternate infinite 0.8s forwards; }
  .icon-user::before {
    content: "";
    position: absolute;
    background: red;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 20%;
    left: 50%;
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%); }

@keyframes icon {
  from {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1); }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }

.user__info {
  padding: 1.4rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .user__info:hover {
    background: #e9edf6; }

.user__img {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem; }
  .user__img .usuario-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }

.user__name {
  font-weight: 600;
  font-size: 1.2rem; }
