*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 10px / 16rem */ }

body {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  font-family: sans-serif; }

p {
  line-height: 1.5; }

/* Variables */
/* Space */
*::selection {
  background: #db1e21;
  color: #c7ced5; }

/* Section page */
body {
  padding: 4rem;
  background: #dee2e4; }

.page {
  background: #f9faff;
  display: grid;
  grid-template-columns: [col-start] 0.5fr [col-end col2-start] 2fr [col2-end] 0.3fr;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem; }

/* Main section */
main {
  grid-column: 2 / 3;
  margin: 0 auto;
  margin-top: rem; }

.header__main {
  position: relative;
  margin: 0 auto; }

.header__video {
  display: inline-block;
  width: 95rem;
  height: 100%;
  margin: 0 auto;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  overflow: hidden; }

.header__description__friends {
  position: absolute;
  top: 4%;
  padding: 2.4rem 0 0 3.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem; }

.friends {
  display: flex; }

.friend-img {
  width: 3.4rem;
  height: 3.4rem; }
  .friend-img:not(:first-of-type) {
    margin-left: -1rem; }

.img-friend {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #fff; }

.header__description {
  position: absolute;
  bottom: 4%;
  padding: 0 0 2.4rem 3.4rem;
  color: #c7ced5;
  /*   box-shadow: inset 0 22rem 2rem rgba(0, 0, 0, 0.35);
  width: 120rem; */ }
  .header__description-tittle {
    font-weight: 800;
    font-size: 3.6rem; }
  .header__description-p {
    display: inline-block;
    width: 70%;
    font-size: 1.8rem;
    margin-top: 0.8rem; }

.header__description-btns {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem; }

/* Header community */
.header__comunity {
  padding-top: 2.4rem;
  color: #717780; }
  .header__comunity-tittle {
    font-size: 3rem;
    font-weight: 800;
    color: #656971; }

.header__comunity-cards {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.8rem;
  align-items: center; }

.header__comunity-card {
  display: inline-block;
  width: calc(100% / 4);
  padding: 2.4rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3);
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .header__comunity-card:hover {
    background: #dee2e4; }

.header__comunity-card-imgs {
  display: flex;
  align-items: start;
  justify-content: space-between; }

.header__comunity-card-img {
  width: 7.4rem;
  height: 7.4rem; }

.img-card {
  object-fit: cover;
  object-position: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

.img-friend {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border: 2px solid #fff; }
  .img-friend:not(:first-of-type) {
    margin-left: -1rem; }

.img-friend-list {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem; }

.header__comunity-info {
  margin-top: 1.6rem; }
  .header__comunity-info-p {
    font-size: 1.6rem;
    font-weight: 600; }

.header__span {
  font-size: 1.3rem;
  color: #c7ced5; }

/* Header watching */
.header__watching {
  padding-top: 2.4rem;
  color: #717780; }

.header__watching-tittle {
  font-size: 3rem;
  color: #656971;
  font-weight: 800; }

.cards__watching {
  display: flex;
  gap: 2.4rem; }

.card__watch {
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow: hidden;
  width: calc(100% / 4);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.3); }

.card__watch-img {
  width: 100%;
  height: 16rem; }
  .card__watch-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }

/* Variablaes buttons */
/* Main buttons */
.btn-friends {
  display: inline-block;
  border: none;
  padding: .8rem 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  background: rgba(233, 237, 246, 0.8);
  color: #db1e21;
  font-weight: 400;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem; }

.main-btn:link,
.main-btn:visited {
  display: inline-block;
  background: rgba(219, 30, 33, 0.5);
  color: #f9faff;
  text-decoration: none;
  padding: 1.2rem 2.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .main-btn:link:hover, .main-btn:link:visited,
  .main-btn:visited:hover,
  .main-btn:visited:visited {
    background: #db1e21;
    box-shadow: 0 0.1rem 2rem #db1e21; }

.main-btn-add:link,
.main-btn-add:visited {
  display: inline-block;
  text-decoration: none;
  background: rgba(101, 105, 113, 0.5);
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #f9faff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }
  .main-btn-add:link:hover, .main-btn-add:link:visited,
  .main-btn-add:visited:hover,
  .main-btn-add:visited:visited {
    background: #656971;
    box-shadow: 0 0.1rem 2rem #656971; }
